.font-item {
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.size-sex {
    font-size: 40px;
}

.top {
    margin-top: -20px;
}

.icon-calculator {
    cursor: pointer;
    background-color: #FF4C4F5E;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.9rem;
}
.margin-left{
    margin-right: 5px;
}

.pointer{
    cursor: pointer;
}

.sexoDesactivado{
    background-color: #7d2f2f33;
    border-radius: 20px;
}